@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.ttf') format('truetype'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 10px;
}

#wrapper {
    display: block;
    position: relative;
}

#top-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: 2px #5a5786 solid;
}

#top-menu > ul {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#top-menu > ul > li {
    display: inline-block;
}

#top-menu > ul > li > a {
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 0.7em;
    font-family: 'CenturyGothic';
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
}

#top-menu > ul > li > a.active {
    font-family: 'CenturyGothic-Bold';
}

#wrapper > .slide {
    display: block;
    position: relative;
    z-index: 2;
}

#wrapper > .slide > .container {
    display: block;
    position: relative;
    width: 100%;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper > .slide > .container > .column {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

#wrapper > .slide#s1 {
    background-color: #03003c;
    background-image: url(../img/backgrounds/s1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}

#wrapper > .slide#s1 > .container > img#logo {
    display: inline-block;
    margin: 103px 0 0 34.11764705882353%;
    width: 49.411764705882355%;
}

#wrapper > .slide#s1 > .container > #btnInscribete {
    border: none;
    background-color: #eac348;
    font-family: 'CenturyGothic-Bold';
    font-size: 1.03em;
    display: block;
    margin: 40px auto 0 auto;
    padding: 0 10px;
    line-height: 18px;
    color: #040048;
    cursor: pointer;
    outline: none;
}

#wrapper > .slide#s1 > .container > div#txtPromo {
    display: block;
    position: absolute;
    left: 0;
    top: 194px;
    width: 122px;
    text-align: right;
    -webkit-animation: txt_promo_ani 3s;
    -moz-animation: txt_promo_ani 3s;
    -ms-animation: txt_promo_ani 3s;
    -o-animation: txt_promo_ani 3s;
    animation: txt_promo_ani 3s;
}

#wrapper > .slide#s1 > .container > div#txtPromo > span {
    color: #fff;
    background-color: #bd0052;
    font-size: 1.13em;
    line-height: 1.5em;
    font-family: 'CenturyGothic';
    padding: 0.18em;
    box-shadow: 5px 0 0 #bd0052, -5px 0 0 #bd0052;
}

#wrapper > .slide#s1 > .container > img.dicon{
    display: block;
    position: absolute;
    z-index: 5;
}

#wrapper > .slide#s1 > .container > img.dicon#n1{
    top: 80px;
    left: 8px;
}
#wrapper > .slide#s1 > .container > img.dicon#n2{
    top: 64px;
    right: 13px;
}
#wrapper > .slide#s1 > .container > img.dicon#n3{
    top: 322px;
    left: 8px;
}
#wrapper > .slide#s2{
    padding-top: 115px;
    background-color: #03003c;
    padding-bottom: 92px;
}
#wrapper > .slide#s2 > .container > img.ico{
    position: absolute;
}
#wrapper > .slide#s2 > .container > img.ico#plus{
    top: -5px;
    left: -3px;
}
#wrapper > .slide#s2 > .container > img.ico#i1{
    top: -107px;
    right: -18px;
}
#wrapper > .slide#s2 > .container > span#d{
    font-size: 2.71em;
    font-family: 'CenturyGothic-Bold';
    top: -9px;
    left: 21px;
    position:absolute;
    color: #fff;
    line-height: 23px;
}
#wrapper > .slide#s2 > .container > img.ico#i2{
    top: 250px;
    left: -20px;
}
#wrapper > .slide#s2 > .container > .column#c1{
    width: 59.294117647058826%;
}
#wrapper > .slide#s2 > .container > .column#c1 > img{
    width: 100%;
    max-width: 220px;
    margin: auto;
}

#wrapper > .slide#s2 > .container > .column#c2{
    width: 40.705882352941174%;
}

#wrapper > .slide#s2 > .container > .column#c2 > h4{
    font-family: 'CenturyGothic-Bold';
    color: #fff;
    font-size: 2.295em;
    margin: 0 0 15px 0;
}

#wrapper > .slide#s2 > .container > .column#c2 > h5{
    font-family: 'CenturyGothic-Bold';
    color: #fff;
    font-size: 2.295em;
    margin: 13px 0 25px 0;
}

#wrapper > .slide#s2 > .container > .column#c2 > ul{
    list-style: none;
    margin: 0;
    padding: 0 0 13px 0;
    border-bottom: #eac348 1px solid;
}
#wrapper > .slide#s2 > .container > .column#c2 > ul > li{
    color: #5da4ad;
    font-size: 1.941em;
    font-family: 'CenturyGothic-Bold';
}
#wrapper > .slide#s2 > .container > .column#c2 > button#btnInscribete{
    border: none;
    background-color: #eac348;
    font-family: 'CenturyGothic-Bold';
    font-size: 1.03em;
    display: block;
    padding: 0 10px;
    line-height: 18px;
    color: #040048;
    cursor: pointer;
    outline: none;
}
#wrapper > .slide#s3{

}
#wrapper > .slide#s3 > .container > #text-wrapper{
    width: 100%;
    max-height: 194px;
    display: block;
    position: relative;
    margin: auto;
}
