@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.ttf') format('truetype'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 10px;
}

.clearfix {
    clear: both;
}

#wrapper {
    display: block;
    position: relative;
}

#top-menu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: 2px #5a5786 solid;
}

#top-menu > ul {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#top-menu > ul > li {
    display: inline-block;
}

#top-menu > ul > li > a {
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 0.7em;
    font-family: 'CenturyGothic';
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    text-shadow: 2px 2px 6px black;
}

#top-menu > ul > li > a.active {
    font-family: 'CenturyGothic-Bold';
}

#wrapper > .slide {
    display: block;
    position: relative;
    z-index: 2;
}

#wrapper > .slide > .container {
    display: block;
    position: relative;
    width: 100%;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper > .slide > .container > .column {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

#wrapper > .slide#s1 {
    background-color: #03003c;
    background-image: url(../img/backgrounds/s1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}

#wrapper > .slide#s1 > .container > img#logo {
    display: inline-block;
    margin: 103px 0 0 34.11764705882353%;
    width: 49.411764705882355%;
}

#wrapper > .slide#s1 > .container > .btnInscribete {
    border: none;
    background-color: #eac348;
    font-family: 'CenturyGothic-Bold';
    font-size: 1.03em;
    display: block;
    margin: 40px auto 0 auto;
    padding: 0 10px;
    line-height: 18px;
    color: #040048;
    cursor: pointer;
    outline: none;
}

#wrapper > .slide#s1 > .container > div#txtPromo {
    display: block;
    position: absolute;
    left: 0;
    top: 194px;
    width: 122px;
    text-align: right;
    -webkit-animation: txt_promo_ani 3s;
    -moz-animation: txt_promo_ani 3s;
    -ms-animation: txt_promo_ani 3s;
    -o-animation: txt_promo_ani 3s;
    animation: txt_promo_ani 3s;
}

#wrapper > .slide#s1 > .container > div#txtPromo > span {
    color: #fff;
    background-color: #bd0052;
    font-size: 1.13em;
    line-height: 1.5em;
    font-family: 'CenturyGothic';
    padding: 0.18em;
    box-shadow: 5px 0 0 #bd0052, -5px 0 0 #bd0052;
}

#wrapper > .slide#s1 > .container > img.dicon {
    display: block;
    position: absolute;
    z-index: 5;
}

#wrapper > .slide#s1 > .container > img.dicon#n1 {
    top: 80px;
    left: 8px;
}

#wrapper > .slide#s1 > .container > img.dicon#n2 {
    top: 64px;
    right: 13px;
    width: 19px;
    height: 47px;
}

#wrapper > .slide#s1 > .container > img.dicon#n3 {
    display: block;
    width: 45px;
    height: auto;
}

#wrapper > .slide#s1 > .container > img.dicon#n4 {
    display: none;
}

#wrapper > .slide#s1 > .container > img.dicon#n5 {
    display: none;
}

#wrapper > .slide#s2 {
    padding-top: 115px;
    background-color: #03003c;
    padding-bottom: 92px;
}

#wrapper > .slide#s2 > .container > img.ico {
    position: absolute;
}

#wrapper > .slide#s2 > .container > img.ico#plus {
    top: -5px;
    left: -3px;
}

#wrapper > .slide#s2 > .container > img.ico#i1 {
    top: -107px;
    right: -18px;
    width: 31px;
    height: auto;
}

#wrapper > .slide#s2 > .container > span#d {
    font-size: 2.71em;
    font-family: 'CenturyGothic-Bold';
    top: -9px;
    left: 21px;
    position: absolute;
    color: #fff;
    line-height: 23px;
}

#wrapper > .slide#s2 > .container > img.ico#i2 {
    top: 250px;
    left: -20px;
    width: 40px;
    height: auto;
}

#wrapper > .slide#s2 > .container > .column#c1 {
    width: 59.294117647058826%;
}

#wrapper > .slide#s2 > .container > .column#c1 > img {
    width: 100%;
    max-width: 220px;
    margin: auto;
}

#wrapper > .slide#s2 > .container > .column#c2 {
    width: 40.705882352941174%;
}

#wrapper > .slide#s2 > .container > .column#c2 > h4 {
    font-family: 'CenturyGothic-Bold';
    color: #fff;
    font-size: 2.295em;
    margin: 0 0 15px 0;
}

#wrapper > .slide#s2 > .container > .column#c2 > h5 {
    font-family: 'CenturyGothic-Bold';
    color: #fff;
    font-size: 2.295em;
    margin: 13px 0 25px 0;
}

#wrapper > .slide#s2 > .container > .column#c2 > ul {
    list-style: none;
    margin: 0;
    padding: 0 0 13px 0;
    border-bottom: #eac348 1px solid;
}

#wrapper > .slide#s2 > .container > .column#c2 > ul > li {
    color: #5da4ad;
    font-size: 1.941em;
    font-family: 'CenturyGothic-Bold';
}

#wrapper > .slide#s2 > .container > .column#c2 > button.btnInscribete {
    border: none;
    background-color: #eac348;
    font-family: 'CenturyGothic-Bold';
    font-size: 1.03em;
    display: block;
    padding: 0 10px;
    line-height: 18px;
    color: #040048;
    cursor: pointer;
    outline: none;
}

#wrapper > .slide#s3 {
    background-color: #fff;
}

#wrapper > .slide#s3 > .container > #text-wrapper {
    width: 100%;
    max-width: 194px;
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 26px;
}

#wrapper > .slide#s3 > .container > #text-wrapper > div#sec1,
#wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 {
    display: block;
    position: relative;
}

#wrapper > .slide#s3 > .container > #text-wrapper > div#sec1 > h4 {
    line-height: 42px;
    font-size: 3.11em;
    margin: 63px 0 1px 0;
    color: #191548;
}

#wrapper > .slide#s3 > .container > #text-wrapper > div#sec1 > h4 > span {
    color: #53a4b0;
}

#wrapper > .slide#s3 > .container > #text-wrapper > div#sec1 > hr {
    height: 3px;
    border: none;
    background-color: #53a4b0;
    width: 30px;
    margin: 0 0 38px 0;
}

#wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 > p {
    color: #000;
    font-size: 0.94em;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: 'CenturyGothic';
    font-weight: 900;
}

#wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 > p.centered {
    text-align: center;
}

#wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 > p.centered > strong {
    font-weight: 100;
    font-family: 'CenturyGothic-Bold';
    font-size: 0.91em;
}

#wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 > .btnInscribete {
    border: none;
    background-color: #c90087;
    color: #fff;
    font-family: 'CenturyGothic';
    font-size: 1.03em;
    display: block;
    margin: 0 auto 48px auto;
    padding: 0 10px;
    line-height: 18px;
    cursor: pointer;
    outline: none;
}

#wrapper > .slide#s3 > .container > img.icon {
    display: block;
    position: absolute;
}

#wrapper > .slide#s3 > .container > img.icon#i1 {
    top: -10px;
    left: -18px;
    zoom: .5;
}

#wrapper > .slide#s3 > .container > img.icon#i2 {
    top: -50px;
    right: -18px;
    zoom: .5;
}

#wrapper > .slide#s3 > .container > img.icon#i3 {
    bottom: -26px;
    left: -24px;
    zoom: .5;
}

#wrapper > .slide#s4 {
    background-color: #03003c;
}

#wrapper > .slide#s4 > .container > ul > li > #block-title {
    padding: 52px 0;
}

#wrapper > .slide#s4 > .container > ul > li > #block-title > h4 {
    font-size: 3.4em;
    line-height: 28px;
    margin: 0;
}

#wrapper > .slide#s4 > .container > ul > li > #block-title > h4 > span {
    display: block;
}

#wrapper > .slide#s4 > .container > ul > li > #block-title > h4 > span#ht1 {
    color: #53a4b0;
    font-family: 'CenturyGothic-Bold';
    padding: 6px 0;
}

#wrapper > .slide#s4 > .container > ul > li > #block-title > h4 > span#ht2 {
    color: #fff;
    font-family: 'CenturyGothic';
    padding: 6px 0;
}

#wrapper > .slide#s4 > .container > ul > li > #block-title > hr {
    height: 2px;
    width: 18px;
    margin: 6px 0;
    border: 0;
    background-color: #53a4b0;
}

#wrapper > .slide#s4 > .container > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

#wrapper > .slide#s4 > .container > ul > li {
    display: block;
    position: relative;
}

#wrapper > .slide#s4 > .container > ul > li > a {
    display: block;
    position: relative;
    background-color: #eac348;
    text-decoration: none;
}

#wrapper > .slide#s4 > .container > ul > li > a::before,
#wrapper > .slide#s4 > .container > ul > li > a:before {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 20;
    height: 100%;
    background: linear-gradient(#fff, #000);
    content: "";
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#wrapper > .slide#s4 > .container > ul > li > a:hover::before,
#wrapper > .slide#s4 > .container > ul > li > a:hover:before {
    opacity: .20;
}

#wrapper > .slide#s4 > .container > ul > li > a > span.desc {
    display: block;
    position: relative;
    float: right;
    width: 238px;
}

#wrapper > .slide#s4 > .container > ul > li > a > span.desc > p.name {
    display: block;
    font-family: 'CenturyGothic-Bold';
    text-align: center;
    font-size: 1.358em;
    margin-top: 40px;
    color: #191548;
    margin-bottom: 0;
}

#wrapper > .slide#s4 > .container > ul > li > a > span.desc > p.when {
    display: block;
    font-size: 0.827em;
    color: #191548;
    text-align: center;
    font-family: 'CenturyGothic-Bold';
    margin: 17px 0 0 0;
}

#wrapper > .slide#s4 > .container > ul > li > a > span.desc > p.where {
    display: block;
    font-size: 0.827em;
    color: #191548;
    text-align: center;
    font-family: 'CenturyGothic-Bold';
    margin: 7px 0 0 0;
}

#wrapper > .slide#s4 > .container > ul > li > a > span.desc > img {
    display: block;
    margin: 22px auto 0 auto;
}

#wrapper > .slide#s4 > .container > ul > li > button {
    display: block;
    position: absolute;
    z-index: 50;
    right: 16.941176470588236%;
    top: 200px;
    margin: 0 auto 0 auto;
    color: #db008c;
    border: #db008c 1px solid;
    background-color: #eac348;
    font-size: 1.181em;
    font-family: 'CenturyGothic-Bold';
    -webkit-transition: all s;
    transition: all .2s;
}

#wrapper > .slide#s4 > .container > ul > li > button:hover {
    color: #eac348;
    border: #eac348 1px solid;
    background-color: #db008c;
}

#wrapper > .slide#s4 > .container > ul > li > a > span.label {
    display: block;
    padding: 8px 0;
    background-color: #53a4b0;
}

#wrapper > .slide#s4 > .container > ul > li > a > img{
    width: 181px;
    height: 231px;
}


#wrapper > .slide#s4 > .container > ul > li > a > span.label > p {
    display: block;
    color: #fff;
    line-height: 20px;
    font-size: 1.486em;
    font-family: 'CenturyGothic-Bold';
    padding-left: 38px;
    margin: 0;
}


#wrapper > .slide#s4 > .container > ul > li > a > span.label.special {
    padding: 18px 0;
}


#wrapper > .slide#s5 {
    background-color: #03003c;
}

#wrapper > .slide#s5 > .container > ul > li > #block-title {
    padding: 52px 0;
}

#wrapper > .slide#s5 > .container > ul > li > #block-title > h4 {
    font-size: 3.4em;
    line-height: 28px;
    margin: 0;
}

#wrapper > .slide#s5 > .container > ul > li > #block-title > h4 > span {
    display: block;
}

#wrapper > .slide#s5 > .container > ul > li > #block-title > h4 > span#ht1 {
    color: #c90087;
    font-family: 'CenturyGothic-Bold';
    padding: 6px 0;
}

#wrapper > .slide#s5 > .container > ul > li > #block-title > h4 > span#ht2 {
    color: #fff;
    font-family: 'CenturyGothic';
    padding: 6px 0;
}

#wrapper > .slide#s5 > .container > ul > li > #block-title > hr {
    height: 2px;
    width: 18px;
    margin: 6px 0;
    border: 0;
    background-color: #c90087;
}

#wrapper > .slide#s5 > .container > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper > .slide#s5 > .container > ul > li {
    display: block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#wrapper > .slide#s5 > .container > ul > li > a {
    display: block;
    margin: 0;
    padding: 96px 0 76px 0;
    text-decoration: none;
    position: relative;
}

#wrapper > .slide#s5 > .container > ul > li > a:before,
#wrapper > .slide#s5 > .container > ul > li > a::before {
    display: block;
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease-out;
}

#wrapper > .slide#s5 > .container > ul > li > a:hover:before,
#wrapper > .slide#s5 > .container > ul > li > a:hover::before {
    opacity: 0.1;
}

#wrapper > .slide#s5 > .container > ul > li > a > span {
    display: block;
    width: 100%;
    margin: auto;
}

#wrapper > .slide#s5 > .container > ul > li > a > span > .day {
    display: block;
    color: #eac348;
    font-size: 2.31em;
    text-align: center;
    font-family: 'CenturyGothic-Bold';
    margin: 110px 0 0 0;
}

#wrapper > .slide#s5 > .container > ul > li > a > span > .num {
    display: block;
    color: #eac348;
    font-size: 3.586em;
    text-align: center;
    font-family: 'CenturyGothic-Bold';
    margin: 10px 0 78px 0;
}

#wrapper > .slide#s5 > .container > ul > li > a.type1 {
    background-image: url(../img/s5_1.png);
    background-color: #10094d;
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper > .slide#s5 > .container > ul > li > a.type2 {
    background-image: url(../img/s5_2.png);
    background-color: #03003c;
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper > .slide#s6 {
    background-color: #fff;
}

#wrapper > .slide#s6 > .container > #block-title {
    padding: 52px 0;
    text-align: right;
}

#wrapper > .slide#s6 > .container > #block-title > h4 {
    font-size: 2.8em;
    line-height: 28px;
    margin: 0;
    color: #53a4b0;
}

#wrapper > .slide#s6 > .container > #block-title > hr {
    height: 2px;
    width: 18px;
    margin: 6px 0;
    border: 0;
    background-color: #53a4b0;
    float: right;
}

#wrapper > .slide#s6 > .container > img {
    display: block;
    width: 95%;
    margin: 0 auto 18px auto;
}

#wrapper > .slide#s7 {
    display: block;
    background-color: #03003c;
    padding: 34px 0;
}

#wrapper > .slide#s7 > .container > .column {
    display: block;
    float: right;
    width: 33.33333%;
    position: relative;
}

#wrapper > .slide#s7 > .container > .column > img {
    display: block;
    width: 41.1764705882353%;
    margin: auto;
}

#wrapper > .slide#s7 > .container > .column > p {
    display: block;
    margin: 16x 0 0 0;
    font-size: .57em;
    font-family: 'CenturyGothic-Bold';
    color: #fff;
    text-align: center;
}

#wrapper > .slide#s8 {
    background-color: #5da4af;
    padding: 36px 0 28px 0;
}

#wrapper > .slide#s8 > .container > img {
    display: block;
    margin: auto;
    width: 44.35146443514645%;
}

#wrapper > .slide#s8 > .container > ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 20px;
}

#wrapper > .slide#s8 > .container > ul > li {
    display: inline-block;
}

#wrapper > .slide#s8 > .container > ul > li > a {
    font-size: 2.7em;
    color: #fff;
    text-decoration: none;
    padding: 0 7px;
}

#wrapper > .slide#s8 > .container > p {
    font-size: .7em;
    color: #fff;
    font-family: 'CenturyGothic';
    text-align: center;
    margin: 3px 0;
}

#wrapper > #scrReg {
    display: block;
    position: relative;
    background-color: #10094d;
    padding-top: 222px;
}

#wrapper > #scrReg >p#title {
    display: block;
    line-height: 70px;
    font-size: 2.983em;
    color: #eac348;
    font-family: 'CenturyGothic-Bold';
    margin: 0 0 0 0;
    background-color: #03003c;
    text-align: center;
}
#wrapper > #scrReg >div#form-container {
    display: block;
    max-width: 604px;
    width: 100%;
    padding: 114px 0 240px 0;
    border-top: 10px #ff00ff solid;
    background-color: #03003c;
    margin: auto;
}

#wrapper > #scrReg >div#form-container > form {
    display: block;
    width: 100%;
    max-width: 302px;
    margin: auto;
}

#wrapper > #scrReg >div#form-container > form > label {
    display: block;
    line-height: 40px;
    font-size: 2.059em;
    color: #fff;
    font-family: 'CenturyGothic';
    margin-top: 80px;
}
#wrapper > #scrReg >div#form-container > form > input[type=text],
#wrapper > #scrReg >div#form-container > form > input[type=email],
#wrapper > #scrReg >div#form-container > form > input[type=tel],
#wrapper > #scrReg >div#form-container > form > input[type=password],
#wrapper > #scrReg >div#form-container > form > div#rootBox > button#selectBox{
    display: block;
    background: #fff;
    font-size: 1.201em;
    border: none;
    width: 100%;
    color: #000;
    height: 33px;
    line-height: 33px;
    font-family: 'CenturyGothic';
    text-align: left;
    text-indent: 10px;
}


#wrapper > #scrReg >div#form-container > form >div#rootBox{
    display: block;
    position: relative;
}
#wrapper > #scrReg >div#form-container > form >div#rootBox >  button#selectBox{

}
#wrapper > #scrReg >div#form-container > form >div#rootBox >  ul{
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}
#wrapper > #scrReg >div#form-container > form >div#rootBox >  ul > li{
    display: block;
    position: relative;
}
#wrapper > #scrReg >div#form-container > form >div#rootBox >  ul > li > label{
    display: block;
    background: #fff;
    font-size: 1.201em;
    cursor: pointer;
    border: none;
    width: 100%;
    color: #000;
    height: 33px;
    line-height: 33px;
    font-family: 'CenturyGothic';
    text-indent: 12px;
}
#wrapper > #scrReg >div#form-container > form >div#rootBox >  ul > li > label{
    display: block;
    background: #fff;
    font-size: 1.201em;
    cursor: pointer;
    border: none;
    width: 100%;
    color: #000;
    height: 33px;
    line-height: 33px;
    font-family: 'CenturyGothic';
    text-indent: 12px;
    transition: all .2s ease-out;
}
#wrapper > #scrReg >div#form-container > form >div#rootBox >  ul > li > label:hover{
    background-color: #5da4ad;
    color: #fff;
}
#wrapper > #scrReg >div#form-container > form >div#rootBox >  ul > li > label > input{
    visibility: hidden;
}
#wrapper > #scrReg >div#form-container > form > input[type=submit]{
    display: block;
    margin: 133px auto 0 auto;
    border: none;
    font-size: 2.488em;
    color: #eac348;
    background-color: #bd0052;
    font-family: 'CenturyGothic-Bold';
    padding: 10px 25px;
}

#wrapper > #charlas{
    position: relative;
    display: block;
}

#wrapper > #charlas > #header{
    background-color: #10094d;
    padding: 80px 0 40px 0;
    position: relative;
}
#wrapper > #charlas > #header > h4{
    display: block;
    position: relative;
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
    font-size: 1.913em;
    
}
#wrapper > #charlas > #header > h4 > span:nth-child(1){
    display: block;
    color: #c90087;
    font-family: 'CenturyGothic-Bold';
}
#wrapper > #charlas > #header > h4 > span:nth-child(2){
    display: block;
    color: #fff;
    font-family: 'CenturyGothic';
}
#wrapper > #charlas > #header > h4 > hr{
    display: block;
    height: 2px;
    width: 15px;
    border: none;
    margin: 5px;
    background-color: #c90087;
}
#wrapper > #charlas > #header > h4 > img{
    display: block;
    margin: -105px -110px;
    top: 50%;
    right: 0;
    position: absolute;
    zoom: 0.4;
}

#wrapper > #charlas > #days{
    background-color: #03003c;
}
#wrapper > #charlas > #days > ul{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 230px;
    list-style: none;
    padding: 0;
    text-align: center;
}
#wrapper > #charlas > #days > ul > li{
    display: inline-block;
    margin: auto;
}

#wrapper > #charlas > #days > ul > li > a{
    display: block;
    padding: 5px 0;
    margin: 10px 12px;
    text-decoration: none;
}

#wrapper > #charlas > #days > ul > li > a.active,
#wrapper > #charlas > #days > ul > li > a:hover{
    border-bottom: 2px #c90087 solid;
}
#wrapper > #charlas > #days > ul > li > a > p >span:nth-child(1){
    text-align: center;
    color: #53a4b0;
    font-family: 'CenturyGothic-Bold';
    display: block;
    font-size: 1.2em;
}
#wrapper > #charlas > #days > ul > li > a > p >span:nth-child(2){
    text-align: center;
    color: #eac348;
    font-size: .99em;
    font-family: 'CenturyGothic-Bold';
    display: block;
}
#wrapper > #charlas > #body{
    background-color: #03003c;
}
#wrapper > #charlas > #body > .container{
    display: block;
    max-width: 230px;
    margin: auto;
    width:100%;
}

#wrapper > #charlas > #body > .container > ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}


#wrapper > #charlas > #body > .container > ul > li{
    display: inline-block;
    position: relative;
    width: 100%;
}

#wrapper > #charlas > #body > .container > ul > li > a{
    display: block;
    position: relative;
    height: 230px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#wrapper > #charlas > #body > .container > ul > li > a:before,
#wrapper > #charlas > #body > .container > ul > li > a::before{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff,#fff,#000);
    content: "";
    z-index: 20;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out;
}
#wrapper > #charlas > #body > .container > ul > li > a:hover:before,
#wrapper > #charlas > #body > .container > ul > li > a:hover::before{
    opacity: 0.25;
}


#wrapper > #charlas > #body > .container > ul > li > a > span {
    display: block;
    position: absolute;
    top: 70px;
    text-align: center;
    width: 100%;
    z-index: 23;
}

#wrapper > #charlas > #body > .container > ul > li > a > span > button{
    display: block;
    margin: auto;
    font-family: 'CenturyGothic-Bold';
    color: #c90087;
    background-color: transparent;
    font-size: 1.5em;
    border: 1px #c90087 solid;
    opacity: 0;
    transition: all .4s ease-in;
    z-index: 24;
    
}
#wrapper > #charlas > #body > .container > ul > li > a:hover > span > button{
    opacity: 1;
}
#wrapper > #charlas > #body > .container > ul > li > a:hover > span > button:hover{
    opacity: 1;
    color: #eac348;
    background-color: #c90087;
}


#wrapper > #charlas > #body > .container > ul > li > a > p{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #eac348;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 22;
}

#wrapper > #charlas > #body > .container > ul > li > a > p > span:nth-child(1){
    display: block;
    color: #000;
    font-size: 1.166em;
    font-family: 'CenturyGothic-Bold';
    padding: 0 14px;
}

#wrapper > #charlas > #body > .container > ul > li > a > p > span:nth-child(2){
    display: block;
    color: #000;
    font-size: .82em;
    font-family: 'CenturyGothic-Bold';
    margin-top: 5px;
    padding: 0 14px;
}

#wrapper > #charlas > #body > .container > ul > li > a > p > img{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    zoom: 0.5;
}

#wrapper > #scrProf{
    display: block;
    position: relative;
}
#wrapper > #scrProf > #header{
    display: block;
    position: relative;
    background-color: #10094d;
    padding: 94px 0 40px 0;
}

#wrapper > #scrProf > #header > div > h4{
    font-size: 2.13em;
    font-family: 'CenturyGothic-Bold';
    color: #fff;
    margin: auto;
}

#wrapper > #scrProf > #header > div > h5{
    margin: 54px auto 0 auto;
    color: #eac348;
    font-size: 1.168em;
    font-family: 'CenturyGothic-Bold';
}
#wrapper > #scrProf > #header > div{
    max-width: 345px;
    display: block;
    position: relative;
    margin: auto;
    width: 100%;
}
#wrapper > #scrProf > #header > div > img{
    display: block;
    top: 0px;
    right: 0;
    zoom: .43;
    position: absolute;
}
#wrapper > #scrProf > #body{
    background: #fff;
}
#wrapper > #scrProf > #body > #container{
    display: block;
    position: relative;
    max-width: 240px;
    width: 100%;
    margin: auto;
    padding: 35px 0 0 0;
}
#wrapper > #scrProf > #body > #container > img{
    display: block;
    position: absolute;
    left: -150px;
    top: 68px;
    width: 71px;
    height: auto;
}

#wrapper > #scrProf > #body > #container > h4{
    display: block;
    position: relative;
    margin: 0;
    color: #191548;
    font-size: 1.458em;
    font-family: 'CenturyGothic-Bold';
}
#wrapper > #scrProf > #body > #container > h5{
    display: block;
    position: relative;
    margin: 37px 0 0 0;
    color: #bd0051;
    font-size: 0.96em;
    font-family: 'CenturyGothic';
}
#wrapper > #scrProf > #body > #container > p{
    display: block;
    position: relative;
    margin: 38px 0 0 0;
    color: #000;
    font-size: .96em;
    font-family: 'CenturyGothic';
}
#wrapper > #scrProf > #body > #container > p > strong{
    font-family: 'CenturyGothic-Bold';
}
#wrapper > #scrProf > #body > #container > h6{
    display: block;
    position: relative;
    margin: 26px 0 0 0;
    color: #bd0051;
    font-size: .962em;
    font-family: 'CenturyGothic-Bold';
}
#wrapper > #scrProf > #body > #container > h6 > span{
    position: relative;
    padding-right: 60px;
    border-bottom: 1px #000 solid;
}
#wrapper > #scrProf > #body > #container > p.bold{
    margin-top: 18px;
    font-family: 'CenturyGothic-Bold';
}
#wrapper > #scrProf > #body > #container > a{
    display: block;
    width: 57px;
    height: 57px;
    background-image: url(../img/mano.jpg);
    margin-top: 27px;
}
#wrapper > #scrProf > #body > #container > button{
    color: #fff;
    background-color: #db008c;
    font-size: 1.058em;
    font-family: 'CenturyGothic-Bold';
    line-height: 21px;
    padding: 0 20px;
    margin: 30px 0;
    border: none;
}

@media only screen and (min-width: 1024px) {
    #wrapper > .slide > .container {
        max-width: 1024px;
    }
    #top-menu > ul > li > a {
        font-size: 1em;
    }
    #wrapper > .slide#s1 {
        padding-bottom: 100px;
    }
    #wrapper > .slide#s1 > .container > div#txtPromo {
        width: 335px;
        top: 333px;
    }
    #wrapper > .slide#s1 > .container > div#txtPromo > span {
        font-size: 3.173em;
    }
    #wrapper > .slide#s1 > .container > img#logo {
        width: 36.1328125%;
        margin-top: 174px;
        margin-left: 42.28515625%;
    }
    #wrapper > .slide#s1 > .container > .btnInscribete {
        font-size: 1.539em;
        line-height: 27px;
    }
    #wrapper > .slide#s1 > .container > img.dicon#n1 {
        top: 178px;
        left: 57px;
    }
    #wrapper > .slide#s1 > .container > img.dicon#n2 {
        top: 107px;
        right: 110px;
        width: initial;
        height: initial;
    }
    #wrapper > .slide#s1 > .container > img.dicon#n3 {
        top: 509px;
        left: 250px;
    }
    #wrapper > .slide#s1 > .container > img.dicon#n4 {
        display: block;
        top: 606px;
        left: 61px;
    }
    #wrapper > .slide#s1 > .container > img.dicon#n5 {
        display: block;
        top: 509px;
        right: 43px;
    }
    #wrapper > .slide#s2 > .container > .column#c1 > img {
        min-width: 425px;
        margin-left: 30px;
    }
    #wrapper > .slide#s2 > .container > .column#c2 > h4 {
        font-size: 4.441em;
    }
    #wrapper > .slide#s2 > .container > .column#c2 > h5 {
        font-size: 3.995em;
    }
    #wrapper > .slide#s2 > .container > .column#c2 > ul > li {
        font-size: 3.757em;
    }
    #wrapper > .slide#s2 > .container > .column#c2 > button.btnInscribete {
        border: none;
        background-color: #eac348;
        font-family: 'CenturyGothic-Bold';
        font-size: 1.03em;
        display: block;
        padding: 0 10px;
        line-height: 18px;
        color: #040048;
        cursor: pointer;
        outline: none;
    }
    #wrapper > .slide#s2 > .container > .column#c2 > button.btnInscribete {
        font-size: 1.597em;
        line-height: 30px;
    }
    #wrapper > .slide#s2 > .container > img.ico#i1,
    #wrapper > .slide#s2 > .container > img.ico#i2 {
        width: initial;
    }
    #wrapper > .slide#s3 > .container > #text-wrapper {
        max-width: 1024px;
    }
    #wrapper > .slide#s3 > .container > #text-wrapper > div#sec1,
    #wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 {
        width: 50%;
        float: left;
    }
    #wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 {
        padding-top: 66px;
    }
    #wrapper > .slide#s3 > div.container {
        padding: 230px 0 205px 0;
    }
    #wrapper > .slide#s3 > .container > #text-wrapper > div#sec1 > h4 {
        font-size: 5.068em;
        line-height: 68px;
    }
    #wrapper > .slide#s3 > .container > #text-wrapper > div#sec1 > hr {
        height: 4px;
        width: 41px;
    }
    #wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 > p {
        font-size: 1em;
        text-align: left!important;
        padding-right: 194px;
        padding-left: 38px;
    }
    #wrapper > .slide#s3 > .container > #text-wrapper > div#sec2 > .btnInscribete {
        font-size: 1.655em;
        line-height: 27px;
        margin: 20px 0 0 72px;
    }
    #wrapper > .slide#s3 > .container > img.icon#i1 {
        top: 50px;
        left: 34px;
        zoom: 1;
    }
    #wrapper > .slide#s3 > .container > img.icon#i2 {
        top: 16px;
        right: 21px;
        zoom: 1;
    }
    #wrapper > .slide#s3 > .container > img.icon#i3 {
        top: 560px;
        left: 19px;
        zoom: 1;
    }
    #wrapper > .slide#s4 > .container > ul > li > #block-title > h4 {
        font-size: 4.736em;
        line-height: 46px;
    }
    #wrapper > .slide#s4 > .container > ul > li > #block-title {
        display: block;
        width: 50%;
        padding: 80px 0 79px 0;
        margin-right: -4px;
    }
    #wrapper > .slide#s4 > .container > ul > li {
        vertical-align: top;
        display: inline-block;
        width: 50%;
        margin-right: -4px;
    }
    #wrapper > .slide#s5 > .container > ul > li > #block-title {
        padding: 118px 0;
    }
    #wrapper > .slide#s5 > .container > ul > li {
        display: inline-block;
        width: 33.3333%;
        margin-left: -4px;
    }
    #wrapper > .slide#s5 > .container > ul > li > a {
        padding: 30px 0 30px 0;
    }
    #wrapper > .slide#s6 > .container > img {
        width: 85.4296875%;
        margin: 0 auto 120px auto;
        display: block;
    }
    #wrapper > .slide#s6 > .container > #block-title > h4 {
        font-size: 4.364em;
        font-family: 'CenturyGothic';
        padding-top: 100px;
    }
    #wrapper > .slide#s7 > .container > .column > img {
        width: 75px;
    }
    #wrapper > .slide#s7 > .container > .column {
        display: inline-block;
        width: 256px;
        float: initial;
        position: relative;
    }
    #wrapper > .slide#s7 > .container  {
        text-align: center;
    }
    #wrapper > .slide#s7 > .container > .column > p {
        display: block;
        font-size: 0.965em;
        margin-top: 25px;
    }
    #wrapper > .slide#s8 > .container > img {
        width: 180px;
    }
    #wrapper > .slide#s8 > .container > ul > li > a {
        font-size: 45px;
    }
    #wrapper > .slide#s8 > .container > p {
        font-size: .899em;
    }
    #wrapper > .slide#s4 > .container > ul > li > a > span.desc {
        width: 322px;
    }
    #wrapper > .slide#s4 > .container > ul > li > button {
        right: 21.941176470588236%;
    }
    
    #wrapper > #charlas > #header > h4{
        max-width: 550px;
        font-size: 4.469em;
    }
    #wrapper > #charlas > #header > h4 > img{
        zoom: .7;
    }
    #wrapper > #charlas > #days > ul{
        max-width: 740px;
    }
    #wrapper > #charlas > #days > ul > li > a {
        margin-left: 50px;
        margin-right: 50px;
    }
    #wrapper > #charlas > #days > ul > li > a > p >span:nth-child(1){
        font-size: 2.575em;
    }
    #wrapper > #charlas > #days > ul > li > a > p >span:nth-child(2){
        font-size: 2.131em;
    }
    
    #wrapper > #charlas > #body > .container{
        max-width: 792px;
    }


    #wrapper > #charlas > #body > .container > ul > li{
        display: inline-block;
        position: relative;
        width: 50%;
        margin-left: -2px;
    }
    #wrapper > #charlas > #body > .container > ul > li > a{
        height: 388px;
    }
    
    #wrapper > #charlas > #body > .container > ul > li > a > p > span:nth-child(1){
        font-size: 2.035em;
    }

    #wrapper > #charlas > #body > .container > ul > li > a > p > span:nth-child(2){
        font-size: 1.435em;
    }

    #wrapper > #charlas > #body > .container > ul > li > a > p > img{
        zoom: .7;
    }
    #wrapper > #charlas > #body > .container > ul > li > a > span{
        top: 138px;
    }
    
    #wrapper > #scrProf > #body > #container{
        display: block;
        position: relative;
        max-width: 500px;
        width: 100%;
        margin: auto;
        padding: 74px 0 0 0;
    }
    #wrapper > #scrProf > #body > #container > img{
        display: block;
        position: absolute;
        left: -150px;
        top: 68px;
        width: 71px;
        height: auto;
    }

    #wrapper > #scrProf > #body > #container > h4{
        display: block;
        position: relative;
        margin: 0;
        color: #191548;
        font-size: 3.15em;
        font-family: 'CenturyGothic-Bold';
    }
    #wrapper > #scrProf > #body > #container > h5{
        display: block;
        position: relative;
        margin: 76px 0 0 0;
        color: #bd0051;
        font-size: 2.086em;
        font-family: 'CenturyGothic';
    }
    #wrapper > #scrProf > #body > #container > p{
        display: block;
        position: relative;
        margin: 38px 0 0 0;
        color: #000;
        font-size: 2.086em;
        font-family: 'CenturyGothic';
    }
    #wrapper > #scrProf > #body > #container > p > strong{
        font-family: 'CenturyGothic-Bold';
    }
    #wrapper > #scrProf > #body > #container > h6{
        display: block;
        position: relative;
        margin: 58px 0 0 0;
        color: #bd0051;
        font-size: 2.086em;
        font-family: 'CenturyGothic-Bold';
    }
    #wrapper > #scrProf > #body > #container > h6 > span{
        position: relative;
        padding-right: 60px;
        border-bottom: 1px #000 solid;
    }
    #wrapper > #scrProf > #body > #container > p.bold{
        margin-top: 18px;
        font-family: 'CenturyGothic-Bold';
    }
    #wrapper > #scrProf > #body > #container > a{
        display: block;
        width: 57px;
        height: 57px;
        background-image: url(../img/mano.jpg);
        margin-top: 57px;
    }
    #wrapper > #scrProf > #body > #container > button{
        color: #fff;
        background-color: #db008c;
        font-size: 2.286em;
        font-family: 'CenturyGothic-Bold';
        line-height: 41px;
        padding: 0 20px;
        margin: 70px 0;
    }

    #wrapper > #scrProf > #header > div > h4{
        font-size: 4.601em;
        font-family: 'CenturyGothic-Bold';
        color: #fff;
        margin: auto;
    }

    #wrapper > #scrProf > #header > div > h5{
        margin: 114px auto 0 auto;
        color: #eac348;
        font-size: 2.523em;
        font-family: 'CenturyGothic-Bold';
    }
    #wrapper > #scrProf > #header {
        padding: 151px 0 70px 0;
    }
    #wrapper > #scrProf > #header > div{
        max-width: 750px;
        display: block;
        position: relative;
        margin: auto;
        width: 100%;
    }
    #wrapper > #scrProf > #header > div > img{
        display: block;
        top: 0px;
        right: 0;
        zoom: .43;
        position: absolute;
    }
        
}

@media only screen and (min-width: 1417px) {


    #wrapper > #charlas > #body > .container{
        max-width: 1417px;
    }


    #wrapper > #charlas > #body > .container > ul > li{
        display: inline-block;
        position: relative;
        width: 33.33333%;
        margin-left: -2px;
    }
}
