@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic.ttf') format('truetype'), url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic-Bold.ttf') format('truetype'), url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 10px;
}

#wrapper {
    display: block;
    position: relative;
}

#top-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: 2px #5a5786 solid;
}

#top-menu > ul {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#top-menu > ul > li {
    display: inline-block;
}

#top-menu > ul > li > a {
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 0.7em;
    font-family: 'CenturyGothic';
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
}

#top-menu > ul > li > a.active {
    font-family: 'CenturyGothic-Bold';
}

#wrapper > .slide {
    display: block;
    position: relative;
    z-index: 2;
}

#wrapper > .slide > .container {
    display: block;
    position: relative;
    width: 100%;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper > .slide#s1 {
    background-color: #03003c;
    background-image: url(../img/backgrounds/s1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}

#wrapper > .slide#s1 > .container > img#logo {
    display: inline-block;
    margin: 103px 0 0 34.11764705882353%;
    width: 49.411764705882355%;
}

#wrapper > .slide#s1 > .container > #btnInscribete {
    border: none;
    background-color: #eac348;
    font-family: 'CenturyGothic-Bold';
    font-size: 1.03em;
    display: block;
    margin: 40px auto 0 auto;
    padding: 0 10px;
    line-height: 18px;
    color: #040048;
    cursor: pointer;
    outline: none;
}

#wrapper > .slide#s1 > .container > div#txtPromo {
    display: block;
    position: absolute;
    left: 0;
    top: 194px;
    width: 122px;
    text-align: right;
    -webkit-animation: txt_promo_ani 3s;
    -moz-animation: txt_promo_ani 3s;
    -ms-animation: txt_promo_ani 3s;
    -o-animation: txt_promo_ani 3s;
    animation: txt_promo_ani 3s;
}

#wrapper > .slide#s1 > .container > div#txtPromo > span {
    color: #fff;
    background-color: #bd0052;
    font-size: 1.13em;
    line-height: 1.5em;
    font-family: 'CenturyGothic';
    padding: 0.18em;
    box-shadow: 5px 0 0 #bd0052, -5px 0 0 #bd0052;
}

#wrapper > .slide#s1 > .container > img.dicon{
    display: block;
    position: absolute;
    z-index: 5;
}

#wrapper > .slide#s1 > .container > img.dicon#n1{
    top: 80px;
    left: 8px;
}
#wrapper > .slide#s1 > .container > img.dicon#n2{
    top: 64px;
    right: 13px;
}
#wrapper > .slide#s1 > .container > img.dicon#n3{
    top: 322px;
    left: 8px;
}
